/* Ensure the footer stays at the bottom */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    font-size: large;
    background-color: #F8F8F8;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.navbar-brand, .nav-link {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.btn {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* Main content should fill available space */
.container {
    flex: 1;
}

/* Style the navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Ensure the cart button is aligned to the right */
.navbar-nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-item {
    margin-right: 15px;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Remove inner styling */
.pokemon-card .card-body {
    padding: 10px; /* Add some padding for spacing */
    margin: 0;
    border: none;
}

/* Adjust Pokémon images to fit within the card */
.pokemon-card img {
    max-width: 100%; /* Ensure image fits within card */
    height: auto;
}

.pokemon-card .card {
    width: 100%; /* Ensure card takes full width of column */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styles for different ranks */
.pokemon-card[data-rank="1"] .card {
    border-color: grey !important;
}

.pokemon-card[data-rank="2"] .card {
    border-color: blue !important;
}

.pokemon-card[data-rank="3"] .card {
    border-color: purple !important;
}

.pokemon-card[data-rank="4"] .card {
    border-color: yellow !important;
}

/* Adjust font size for Pokémon names */
.pokemon-card a {
    font-size: 1.2em; /* Adjust font size as needed */
    text-decoration: none;
    color: inherit;
}

    .pokemon-card-container {
        position: relative;
    }
    
    .tooltip-container {
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 10px;
        border-radius: 5px;
        z-index: 10;
        white-space: nowrap;
    }